.container {
    position: fixed;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    perspective: 300px;
}
.item {
    display: flex;
    text-align: center ;
    position: absolute;
    width: 500px;
    height: 100%;
    margin: auto;   
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    color: yellow;
    transform: rotateX(60deg);
}
.item-text {
    position: relative;
    animation: test-animation 30s linear infinite;
}
@keyframes test-animation {
    0% {
       top: 100%;
    }
    100% {
       top: -100%;
    }
}


